
body{
    background-color: black;
}
.cat{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 5%;
}
h1{
    font-family: 'Libre Baskerville', serif;
}